<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="1" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DATABASE_URL" value="postgresql://cultiva:password@db:5432/cultivatrace_test?serverVersion=13&amp;charset=utf8" force="true"/>
        <env name="MAILER_DSN" value="null://null" force="true"/>
        <server name="GOTENBERG_URL" value="http://gotenberg:3000" force="true"/>
        <env name="MERCURE_URL" value="http://mercure/.well-known/mercure" force="true"/>
        <env name="MERCURE_PUBLIC_URL" value="http://localhost:9000/.well-known/mercure" force="true"/>
        <env name="MERCURE_JWT_SECRET" value="!ChangeThisMercureHubJWTSecretKey!" force="true"/>
        <server name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem" force="true"/>
        <server name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem" force="true"/>
        <server name="JWT_PASSPHRASE" value="705a2ee932c4d5010e89eb6603bcb502cddb51cc7a0fd69d47ac27f5da32cc92" force="true"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
