<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/PostgreSQL/bootstrap.php" colors="true">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="1" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
    <testsuites>
        <testsuite name="PostgreSQL 16 migrations and PlantEvent integrity">
            <directory>tests/PostgreSQL</directory>
        </testsuite>
    </testsuites>
</phpunit>
